config SENSORS
    bool "Sensors Class Support"
    help
      This option enables the sensor sysfs class in /sys/class/sensors.
      You'll need this to do anything useful with sensorss. If unsure, say N.

config CUSTOM_KERNEL_SAR_SENSOR
    tristate "KERNEL SAR"
    help
      If the platform is supported for sar, this
      configuration should be configured, and the sar
      driver configuration should be configured as well.

config INPUT_SX933X
    tristate "SX933X SAR"
    help
      If contain sx933x sar, this
      configuration should be configured, and the sar
      driver configuration should be configured as well.

