# SPDX-License-Identifier: GPL-2.0

config MTK_FINGERPRINT_O22_SUPPORT
    tristate "O22 Fingerprint support"
    help
        Fingerprint mtk driver enable/disable
        in the kernel.Say Y here if you want to
        use mediatek fingerprint driver,fingerprint
        driver will support fingerprint function

config MTK_FINGERPRINT_SELECT
    string "sensor type"
    default "GF318M"

source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/fingerprint/fingerprint_O22/silead/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/fingerprint/fingerprint_O22/focaltech/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/fingerprint/fingerprint_O22/cdfinger/Kconfig"


