# SPDX-License-Identifier: GPL-2.0-only

config ODM_CUSTOM_BUILD
    bool "CONFIG ODM CUSTOM BUILD"

config ODM_CUSTOM_FACTORY_BUILD
    bool "CONFIG ODM CUSTOM FACTORY BUILD"

config ODM_CUSTOM_D85_BUILD
    bool "CONFIG ODM CUSTOM D85 BUILD"

config HUAQIN_BUILD
    bool "CONFIG HUAQIN BUILD"

config HQ_FACTORY_BUILD
    bool "CONFIG HQ FACTORY BUILD"

config HQ_D85_BUILD
    bool "CONFIG HQ D85 BUILD"

config HQ_PROJECT_O22
    bool "CONFIG HQ PROJECT O22"

config HQ_PROJECT_O8
    bool "CONFIG HQ PROJECT O8"
