config CUSTOM_KERNEL_O8_SAR
    tristate "KERNEL SAR"
    help
      If the platform is supported for sar, this
      configuration should be configured, and the sar
      driver configuration should be configured as well.

config INPUT_SX933X
    tristate "SX933X SAR"
    help
      If contain sx933x sar, this
      configuration should be configured, and the sar
      driver configuration should be configured as well.

config INPUT_HX9031AS
    tristate "HX9031AS SAR"
    help
      If contain hx9031as sar, this
      configuration should be configured, and the sar
      driver configuration should be configured as well.

