# SPDX-License-Identifier: GPL-2.0

menu "Sensors"

config MTK_SENSOR_ARCHITECTURE
	string "MTK SENSOR ARCHITECTURE"
	default "dummy"
	help
	  Sensor config for sensor architecture in project.
	  Please set 1.0/2.0/3.0 etc if you want to support sensor
	  with mediatek sensor architecture.
	  If unsure, set dummy.
endmenu # Sensors

source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/accelerometer/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/alsps/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/gyroscope/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/magnetometer/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/hwmon/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/barometer/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/step_counter/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/situation/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/sensorHub/Kconfig"
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/sensorfusion/Kconfig"
# a06 code for SR-AL7160V-01-27 by zhawei at 20240823 start
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/o8_sar/Kconfig"
# a06 code for SR-AL7160V-01-27 by zhawei at 20240823 end
# a14 code for SR-AL6528V-01-185 by hefan at 20240827 start
source "$(KCONFIG_EXT_PREFIX)drivers/misc/mediatek/sensor/1.0/o22_sar/Kconfig"
# a14 code for SR-AL6528V-01-185 by hefan at 20240827 end
