CONFIG_HQ_PROJECT_O22=y
# a14 code for SR-AL6528V-01-79|SR-AL6528V-01-80 by zhawei at 20240903 start
CONFIG_CUSTOM_KERNEL_MAGNETOMETER=y
CONFIG_MTK_MAGHUB=y
CONFIG_CUSTOM_KERNEL_SENSOR_FUSION=y
CONFIG_MTK_ROTATVECHUB=y
CONFIG_MTK_GAMEROTVECHUB=y
CONFIG_MTK_GMAGROTVECHUB=y
CONFIG_MTK_GRAVITYHUB=y
CONFIG_MTK_LINEARACCHUB=y
# a14 code for SR-AL6528V-01-79|SR-AL6528V-01-80 by zhawei at 20240903 end
#hs14 code for SR-AL6528V-01-225 by zhaoziyu at 2024/08/27 start
#hs14 code for SR-AL6528V-01-225 by jiangwenhan at 2024/08/27 start
CONFIG_CUSTOM_KERNEL_IMGSENSOR="a1401backs5kjn1hlt_mipi_raw a1401fronts5k3l6ly_mipi_raw a1401widehi556wly_mipi_raw a1401macroov02b10ly_mipi_raw a1402backhi5022qxl_mipi_raw a1402frontgc13a0xl_mipi_raw a1402widesc520cstxd_mipi_raw a1402macrosc202cscxt_mipi_raw a1403backhi5022qly_mipi_raw a1403frontsc1301cstxd_mipi_raw a1403wideov05ahlt_mipi_raw a1403macrogc02m1hlt_mipi_raw a1404backs5kjn1txd_mipi_raw "
#hs14 code for SR-AL6528V-01-225 by zhaoziyu at 2024/08/27 end
#hs14 code for SR-AL6528V-01-225 by jiangwenhan at 2024/08/27 end
CONFIG_SENSORS=y
CONFIG_ZSMALLOC=m
CONFIG_ZRAM=m
CONFIG_ZRAM_WRITEBACK=y
# a14 code for SR-AL6528V-01-185 by hefan at 20240827 start
CONFIG_CUSTOM_KERNEL_SAR_SENSOR=m
CONFIG_INPUT_SX933X=m
# a14 code for SR-AL6528V-01-185 by hefan at 20240827 end
#a06 code for SR-AL7160V-01-43 by xiayujie at 20240906 start
CONFIG_MTK_WAKE_UP_MOTION=y
CONFIG_MTK_SMARTALERT_HUB=y
#a06 code for SR-AL7160V-01-43 by xiayujie at 20240906 end
#a14 code for SR-AL6528V-01-201 by renbulang at 20240827 start
# a14 code for AL6528AV-239 by hehaoran at 20250208 start
CONFIG_LCD_PANEL_BIAS_I2C=m
# a14 code for AL6528AV-239 by hehaoran at 20250208 end
CONFIG_DRM_LCD_HX83112F_TXD_BOE_MIPI_FHD_VIDEO=m
CONFIG_DRM_LCD_JD9522T_XX_BOE_MIPI_FHD_VIDEO=m
CONFIG_DRM_LCD_NL9922C_JZ_TM_MIPI_FHD_VIDEO=m
CONFIG_DRM_LCD_TD4375_CW_INX_MIPI_FHD_VIDEO=m
CONFIG_DRM_LCD_TD4375_TXD_JDI_MIPI_FHD_VIDEO=m
CONFIG_DRM_LCD_DEFAULT_MIPI_FHD_VIDEO=m
#a14 code for SR-AL6528V-01-201 by renbulang at 20240827 end
# A14_V code for SR-AL6528V-01-117 by gaoxugang at 20240827 start
CONFIG_CHARGER_SGM41513=m
CONFIG_TCPC_HUSB311=m
CONFIG_HUSB_REGMAP=m
# A14_V code for SR-AL6528V-01-117 by gaoxugang at 20240827 end
# A14 code for SR-AL6528V-01-115 by gaoxugang at 20240911 start
CONFIG_CHARGER_UPM6910X=m
# A14 code for SR-AL6528V-01-48 by gaoxugang at 20240929 start
# CONFIG_TYPEC_FUSB302B=m
CONFIG_TCPC_AW35615=m
# A14 code for SR-AL6528V-01-48 by gaoxugang at 20240929 end
# A14 code for SR-AL6528V-01-115 by gaoxugang at 20240911 end
# A14 code for SR-AL6528V-01-119 by gaoxugang at 20240903 start
CONFIG_CHARGER_SC8960X=m
CONFIG_TCPC_ET7304=m
CONFIG_ET_REGMAP=m
# A14 code for SR-AL6528V-01-119 by gaoxugang at 20240903 end
# A14_V&&A06_V code for SR-AL6528A-01-7  by lijun at 20240826 start
CONFIG_NFC=y
CONFIG_SEC_NFC=m
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_IF_I2C=y
# CONFIG_SEC_NFC_GPIO_CLK is not set
# CONFIG_SEC_NFC_PMIC_LDO is not set
# CONFIG_SEC_NFC_DEDICATED_CLK is not set
# CONFIG_SEC_ESE_COLDRESET is not set
# A14_V&&A06_V code for SR-AL6528A-01-7  by lijun at 20240826 end
#o22 code for SR-AL6528V-01-137 by wanglei at 20240901 start
CONFIG_ODM_SEC_COMMON_O22=m
CONFIG_TOUCHSCREEN_HIMAX_CHIPSET_O22=m
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83112=y
CONFIG_TOUCHSCREEN_HIMAX_INSPECT=y
CONFIG_TOUCHSCREEN_HIMAX_DEBUG=y
CONFIG_TOUCHSCREEN_HIMAX_INCELL=y
CONFIG_TOUCHSCREEN_HIMAX_COMMON=y
CONFIG_TOUCHSCREEN_HIMAX_EMBEDDED_FIRMWARE=y
#o22 code for SR-AL6528V-01-137 by wanglei at 20240901 end
#o22 code for SR-AL6528V-01-137 by renbulang at 20240906 start
CONFIG_TOUCHSCREEN_OMNIVISION_TCM_O22=m
CONFIG_TOUCHSCREEN_OMNIVISION_TCM_CORE=y
CONFIG_TOUCHSCREEN_OMNIVISION_TCM_SPI=y
CONFIG_TOUCHSCREEN_OMNIVISION_TCM_DIAGNOSTICS=y
#o22 code for SR-AL6528V-01-137 by renbulang at 20240906 end
#o22 code for SR-AL6528V-01-137 by lihao at 20240907 start
CONFIG_TOUCHSCREEN_JADARD_CHIPSET_O22=m
CONFIG_TOUCHSCREEN_JADARD_IC_JD9522T=y
CONFIG_TOUCHSCREEN_JADARD_MODULE=y
CONFIG_TOUCHSCREEN_JADARD_COMMON=y
CONFIG_TOUCHSCREEN_JADARD_DEBUG=y
CONFIG_TOUCHSCREEN_JADARD_SORTING=y
#o22 code for SR-AL6528V-01-137 by lihao at 20240907 end
#o22 code for SR-AL6528V-01-137 by lihao at 20240909 start
CONFIG_TOUCHSCREEN_CHIPONE_TDDI_O22=m
#o22 code for SR-AL6528V-01-137 by lihao at 20240909 end
#A14_V code for SR-AL6528A-01-182 by zhengchao at 20240826 start
CONFIG_HQ_SIM_TRAY_CHECK=m
#A14_V code for SR-AL6528A-01-182 by zhengchao at 20240826 end
#A14 code for SR-AL6528V-01-17 by chenyulin at 20240906 start
CONFIG_GXY_PSY_SYSFS=m
CONFIG_BATTERY_ID_ADC=m
#A14 code for SR-AL6528V-01-17 by chenyulin at 20240906 end
# A14 code for SR-AL6528V-01-120 by gaoxugang at 20240920 start
CONFIG_AFC_CHARGER=m
# A14 code for SR-AL6528V-01-120 by gaoxugang at 20240920 end
#hs14 code for SR-AL6528V-01-227 by jiangwenhan at 2024/09/10 start
CONFIG_MTK_FLASHLIGHT_SGM3785_GPIO=m
#hs14 code for SR-AL6528V-01-227 by jiangwenhan at 2024/09/10 end
# a14 code for SR-AL6528V-01-162 by duxinqi at 20240909 start
CONFIG_MTK_FINGERPRINT_SUPPORT=m
CONFIG_MTK_FINGERPRINT_O22_SUPPORT=m
CONFIG_SILEAD_FP=m
CONFIG_FINGERPRINT_FOCALTECH=m
CONFIG_CDFINGER_FP=m
# a14 code for SR-AL6528V-01-162 by duxinqi at 20240909 end
# A14 code for SR-AL6528V-01-45 by chenyulin at 20241105 start
CONFIG_VBUS_CTRL=m
# A14 code for SR-AL6528V-01-45 by chenyulin at 20241105 end
#Input booster
CONFIG_SEC_INPUT_BOOSTER=m
CONFIG_SEC_INPUT_BOOSTER_MTK=y
CONFIG_SEC_INPUT_BOOSTER_HANDLER=y
CONFIG_SEC_INPUT_BOOSTER_MODE=y
