CONFIG_HQ_PROJECT_O8=y
# a06 code for SR-AL7160V-01-45|SR-AL7160V-01-46 by zhawei at 20240903 start
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_MTK_MAGHUB is not set
# CONFIG_CUSTOM_KERNEL_SENSOR_FUSION is not set
# CONFIG_MTK_ROTATVECHUB is not set
# CONFIG_MTK_GAMEROTVECHUB is not set
# CONFIG_MTK_GMAGROTVECHUB is not set
# CONFIG_MTK_GRAVITYHUB is not set
# CONFIG_MTK_LINEARACCHUB is not set
# a06 code for SR-AL7160V-01-45|SR-AL7160V-01-46 by zhawei at 20240903 end
# a06 code for AL7160AV-236 by hehaoran at 20250208 start
CONFIG_LCD_PANEL_BIAS_I2C=m
# a06 code for AL7160AV-236 by hehaoran at 20250208 end
CONFIG_DRM_LCD_FT8057P_XX_CTC_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_HX83108B_LS_HKC_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_GC7272_XX_HSD_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_FT8057P_TXD_BOE_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_HX83108B_LS_INX_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_HX83108B_XX_HKC_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_GC7272_LD_CTC_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_GC7272_XX_BOE_MIPI_HD_VIDEO=m
CONFIG_DRM_LCD_DEFAULT_MIPI_FHD_VIDEO=m
# a06 code for SR-AL7160V-01-62 by wenghailong at 20240826 start
CONFIG_ODM_SEC_COMMON_O8=m
CONFIG_TOUCHSCREEN_FT8057P_O8=m
CONFIG_TOUCHSCREEN_HX83108B_CHIPSET_O8=m
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83108A_O8=y
CONFIG_TOUCHSCREEN_HIMAX_INSPECT_O8=y
CONFIG_TOUCHSCREEN_HIMAX_DEBUG_O8=y
CONFIG_TOUCHSCREEN_GALAXYCORE_IC_GC7272_O8=m
# a06 code for SR-AL7160V-01-62 by wenghailong at 20240826 end
CONFIG_ZSMALLOC=m
CONFIG_ZRAM=m
CONFIG_ZRAM_WRITEBACK=y
# A06 code for SR-AL7160V-01-135 by yexuedong at 20240826 start
CONFIG_TCPC_UPM7610=m
# A06 code for SR-AL7160V-01-135 by yexuedong at 20240826 end
# A06_V code added for SR-AL7160A-01-06 by gaochao at 20240904 start
CONFIG_KNOXVAULT_POWER=m
# CONFIG_I2C_KNOXVAULTDEV is not set
# A06_V  code added for SR-AL7160A-01-06 by gaochao at 20240904 end
# A06_V code for SR-AL7160V-01-133 by yexuedong at 20240829 start
CONFIG_TCPC_UPM6922P=m
#A06 code for SR-AL7160V-01-228 by zhongquan at 20240905 start
CONFIG_MTK_FLASHLIGHT_SGM3785_GPIO=m
#A06 code for SR-AL7160V-01-228 by zhongquan at 20240905 end
# A06_V code for SR-AL7160V-01-133 by yexuedong at 20240829 end
# a06 code for SR-AL7160V-01-27 by zhawei at 20240823 start
CONFIG_CUSTOM_KERNEL_O8_SAR=m
CONFIG_INPUT_SX933X=m
CONFIG_INPUT_HX9031AS=m
# a06 code for SR-AL7160V-01-27 by zhawei at 20240823 end
#a06 code for SR-AL7160V-01-43 by xiayujie at 20240906 start
CONFIG_MTK_WAKE_UP_MOTION=y
#a06 code for SR-AL7160V-01-43 by xiayujie at 20240906 end
#A06 code for SR-AL7160A by xuyunhui at 20240828 start
CONFIG_CUSTOM_KERNEL_IMGSENSOR="a0601lybacks5kjn1_mipi_raw a0601ddfrontsc820cs_mipi_raw a0601cxtdepthgc02m1b_mipi_raw a0602xlbacks5kjn1_mipi_raw a0602cxtfrontgc08a8_mipi_raw a0602wxdepthc2519_mipi_raw a0603txdbacks5kjn1_mipi_raw a0603ddfrontmt811_mipi_raw a0603cxtdepthbf2257cs_mipi_raw a0604xlbacks5kjn1_mipi_raw a0604xlfrontmt811_mipi_raw a0604wxdepthsc201cs_mipi_raw a0605ofbacks5kjn1_mipi_raw a0605ddfrontsc820cs_mipi_raw a0606ddfrontmt811_mipi_raw a0607xlfrontmt811_mipi_raw"
#A06 code for SR-AL7160A by xuyunhui at 20240828 end
#a06 code for SR-AL7160V-01-44 by liuyiying at 20240830 start
CONFIG_MTK_SMARTALERT_HUB=y
#a06 code for SR-AL7160V-01-44 by liuyiying at 20240830 end
# A06_V code for SR-AL7160V-01-132|SR-AL7160V-01-131 by xiongxiaoliang at 20240827 start
CONFIG_CHARGER_UPM6922=m
CONFIG_CHARGER_SGM41513=m
CONFIG_TCPC_CPS8851=m
#CONFIG_TCPC_WUSB3812=m
CONFIG_CHARGER_CP_PPS=m
CONFIG_UPM6720_CP=m
# A06_V code for SR-AL7160V-01-135|SR-AL7160V-01-136 by xiongxiaoliang at 20240902 start
CONFIG_NU2115A_CP=m
CONFIG_SGM41606S_CP=m
CONFIG_NX853X_CP=m
# A06_V code for SR-AL7160V-01-135|SR-AL7160V-01-136 by xiongxiaoliang at 20240902 end
CONFIG_TCPC_WUSB3812=m
# A06_V code for SR-AL7160V-01-132|SR-AL7160V-01-131 by xiongxiaoliang at 20240827 end
#A06_V code for SR-AL7160V-01-160 by shixuanxuan at 20240827 start
CONFIG_GXY_PSY_SYSFS=m
CONFIG_BATTERY_ID_ADC=m
#A06_V code for SR-AL7160V-01-160 by shixuanxuan at 20240827 end
# A06_V code for SR-AL7160V-01-139 by xiongxiaoliang at 20240906 start
CONFIG_AFC_CHARGER=m
# A06_V code for SR-AL7160V-01-139 by xiongxiaoliang at 20240906 end
#A06_V code for SR-AL6528A-01-182 by zhengchao at 20240826 start
CONFIG_HQ_SIM_TRAY_CHECK=m
#A06_V code for SR-AL6528A-01-182 by zhengchao at 20240826 end
# A06_V code for SR-AL7160V-01-87 by duxinqi at 20240923 start
CONFIG_MTK_FINGERPRINT_SUPPORT=m
CONFIG_MTK_FINGERPRINT_O8_SUPPORT=m
CONFIG_SILEAD_FP=m
CONFIG_FINGERPRINT_FOCALTECH=m
CONFIG_JIIOV_FP=m
# A06_V code for SR-AL7160V-01-87 by duxinqi at 20240923 start
#Input booster
CONFIG_SEC_INPUT_BOOSTER=m
CONFIG_SEC_INPUT_BOOSTER_MTK=y
CONFIG_SEC_INPUT_BOOSTER_HANDLER=y
CONFIG_SEC_INPUT_BOOSTER_MODE=y
